<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{genre.name}} - Jeux</title>
</head>
<body>
  <h1>Jeux de {{genre.name}}</h1>
  <ul>
    {{#each genre.game}}
      <li class="game">
        <a href="/games/{{id}}">{{title}}</a> - {{editor.name}}
      </li>
    {{/each}}
  </ul>
 
</body>
</html>
