<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{editor.name}} - Jeux</title>
</head>
<body>
  <h1>Jeux de {{editor.name}}</h1>
  <ul>
    {{#each editor.game}}
      <li class="game">
        <a href="/games/{{id}}">{{title}}</a> - {{genre.name}}
      </li>
    {{/each}}
  </ul>
  
</body>
</html>
